.filterDate__ {
  &main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
   

    .container{

      border-radius: 3px;
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgb(237, 237, 237);
      box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.289);
      width: 75%;

      .container_calendar{
        width: 90%;
        .react-datepicker-wrapper{
          width: 100%  !important;
       
          .calendar{
            text-align: center;
            font-weight: 500;
            margin: 3px;
            border: none;
            font-size: .9rem;
            width: 90%  !important;
            background-color: rgb(237, 237, 237) !important;
        }

        }
      }

      .container_calendar_img{
        display: grid;
        place-content: center;
        width: 10%;
        img{
          margin-right: 10px;
  
        }
      }
    }
  }
}
