td {
  padding: 20px;
  border-bottom: 1px solid rgb(158, 158, 158);
  &:nth-child(1) {
    width: 17%;
  }
  &:nth-child(2) {
    width: 10%;
  }
  &:nth-child(3) {
    width: 10%;
  }
  &:nth-child(4) {
    width: 17%;
  }
  &:nth-child(5) {
    width: 13%;
  }
  &:nth-child(6) {
    width: 15%;
  }
}

.status-positive {
  padding: 0.4rem 0;
  border-radius: 2rem;
  text-align: center;
  background-color: #86e49d;
  color: #006b21;
  font-weight: bold;
}

.status-negative {
  padding: 0.4rem 0;
  border-radius: 2rem;
  text-align: center;
  background-color: #da7990;
  color: #b30021;
  font-weight: bold;
}

.status-medium {
  padding: 0.4rem 0;
  border-radius: 2rem;
  text-align: center;
  color: #b37b0c;
  background-color: #f4c871;
  font-weight: bold;
}

tbody {
  color: black;
  
}

.center-text {
  text-align: center;
  margin: 0 auto;
}

tr:hover {
  background-color: rgb(242, 242, 242);
  cursor: pointer;
}
