td {
  padding: 1rem;
  text-align: left;
}

td {
  padding: 20px;
  border-bottom: 1px solid rgb(158, 158, 158);
}

.status-positive {
  padding: 0.4rem 0;
  border-radius: 2rem;
  text-align: center;
  background-color: #86e49d;
  color: #006b21;
}

.status-negative {
  padding: 0.4rem 0;
  border-radius: 2rem;
  text-align: center;
  background-color: #da7990;
  color: #b30021;
}

.status-medium {
  padding: 0.4rem 0;
  border-radius: 2rem;
  text-align: center;
  color: #b37b0c;
  background-color: #f4c871;
}

tbody {
  color: black;
}

.center-text {
  text-align: center;
}
