.emotionAnalysis__ {
  &main {
    width: 90%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-left: 260px;
    p {
      color: black;
      span {
        color: #4dc2f1;
        font-weight: bold;
      }
    }
    h1 {
      margin: 20px 0;
      color: rgb(12, 45, 58);
      text-transform: uppercase;
      font-size: 2.5rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.239);
    }

    .emotionAnalysis__logo_p5 {
      position: absolute;
      right: 20px;
      top: 10px;
      width: 52px;
    }
  }

  &cont_logo {
    position: absolute;

    display: flex;
    align-items: center;
    top: 10px;
    left: 20px;

    h2 {
      margin: 0 10px;

      color: #ec56a8;
    }
    .emotionAnalysis__logo {
      width: 100px;
    }
    .emotionAnalysis__logo:nth-child(1) {
      width: 60px;
    }
  }

  &cont_text {
    width: 80%;
    height: 40%;

    margin: 20px auto;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;

    img {
      margin: 0 auto;
      width: 300px;
    }

    h3 {
      color: black;
      text-transform: uppercase;
      margin: 0 auto;

      font-size: 1.7rem;
    }
  }

  &form {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    textarea {
      border: none;
      outline: none;
      padding: 10px;
      font-size: 1.2rem;
      height: 250px;
      width: 60%;
      background-color: rgb(239, 227, 227);
      border-radius: 3px;
      box-shadow: 0 2px 10px #ff671b;
      transition: ease all 0.3s;
      color: black;
      &:hover,
      &:focus {
        background-color: rgb(237, 237, 237);
        box-shadow: 0 2px 10px #ff671b;
      }
    }

    button {
      width: 15rem;
      height: 6rem;
      border: none;
      cursor: pointer;
      border-radius: 3px;
      transition: ease all 0.3s;
      box-shadow: -2px 3px 10px #4dc2f1;
      margin-top: 1rem;
      background-color: #ff671b;

      &:hover,
      &:focus {
        background-color: #df7641;
        box-shadow: -2px 3px 10px #40aed9;
        scale: 1.01;
      }
    }
  }
}
