@mixin defaultButton {
  background-color: rgb(77, 194, 241);
  margin: 10px;
  font-weight: bold;
  outline: none;
  border: transparent;
  &:hover {
    border: none;
    background-color: rgb(0, 147, 197);
    transition: all ease-in 0.3s;
  }
}



